:root {
    font-family: poppins;
}

body {
    margin: 0px;
    padding: 0px;
}

.mainbox {
    /* background-color: rgb(210, 241, 231); */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, #5faf7d, #c5c87b);
}

.submainbox {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    padding: 60px 0px 60px 60px;
    border-radius: 15px;
    justify-content: center;
    color: white;
    width: 53%;
    /*margin: 0px; */

}

.errormessage {
    height: 30px;
}

p {
    font-size: 14px;
    margin: 0px;
}

.leftbox {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /* padding: 20px;
    margin: 20px 0px 20px 20px; */
    justify-content: center;
    color: rgb(14, 64, 21);
    /* height: 788px; */

}

.rightbox {
    display: flex;
    align-items: center;
    /* flex-grow: 1; */
    background-color: rgb(255, 255, 255);
    justify-content: end;
    /* height: 788px; */

}

img {

    width: 500px;
    object-fit: contain;
}

.headingData {
    width: 159px;
    font-size: 30px;
    font-weight: bold;
    background: linear-gradient(45deg, #115d05, #6da68f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subHeading {
    margin: 0px 0px 20px 0px;

}

.radiobutton {
    margin: 0px 0px 20px 0px;
}

.radiobutton input:checked {
    background-color: green;
    border-color: green;
}

input {
    background-color: #ddf1e7;
    border: 1px solid #044b30;
    padding: 10px;
    border-radius: 6px;
}

#name {
    width: 321px;
    height: 36px;
    border-radius: 8px;
    border: 1px solid #dedddd;
    padding: 8px 10px;
    font-size: 14px;
}

#email {
    width: 321px;
    height: 36px;
    border-radius: 8px;
    border: 1px solid #dedddd;
    padding: 8px 10px;
    font-size: 14px;
}

.address {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#country {
    width: 150px;
    height: 36px;
    border-radius: 8px;
    border: 1px solid #dedddd;
    padding: 8px 10px;
    font-size: 14px;
}

#city {
    width: 150px;
    height: 36px;
    border-radius: 8px;
    border: 1px solid #dedddd;
    padding: 8px 10px;
    font-size: 14px;
}

#phoneNumber {
    width: 321px;
    height: 36px;
    border-radius: 8px;
    border: 1px solid #dedddd;
    padding: 8px 10px;
    font-size: 14px;
}

input:focus {
    outline: none;
    border: 2px solid rgb(224, 180, 3);
}

.buttonData {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.subbmit {
    width: 130px;
    height: 40px;
    padding: 10px;
    background-color: rgb(13, 81, 13);
    color: rgb(255, 255, 255);
    border-radius: 9px;

}